.post-color {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 4.2rem;
}

.main-post-container {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  padding-left: 3rem;
  border-left: 2px solid var(--light-gray);


  > img {
    width: 40vw;
    border: 1px solid var(--light-gray);
  }

  > a {
    width: fit-content;
    margin-top: 1rem;
    text-decoration: none;
    color: black;

    &:hover {
      text-decoration: underline;
    }
  }

  .post-content {
    display: flex;

    .post-text-content {
      display: flex;
      flex-direction: column;
      width: 60vw;

      & h2 {
        margin: 0;
        margin-top: 1rem;
      }

      .italic {
        font-style: italic;
      }
    }
  }

  .post-credits-container {
    margin: 0 3.5vw;

    & p:nth-child(1) {
      font-size: 1.1rem;
      margin-bottom: 1.5rem;
    }

    & p:nth-child(2), p:nth-child(3) {
      color: gray;
      margin: 0.5rem 0;
    }
    
    & p:nth-child(3) > a {
      color: black;
      color: gray;
    }

    & ul {
      display: flex;
      flex-direction: column;
      padding: 0;
      gap: 0.5rem;
      list-style: none;
      margin-top: 1.5rem;

      & img {
        width: 30px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .post-color {
    height: 8.7rem;
  }

  .main-post-container {
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    border: none;

    > h1 {
      text-align: center;
      margin: 1.5rem 1rem;
    }

    > img {
      width: 80vw;
    }

    > a {
      font-size: 1.1rem;
    }

    .post-content {
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
      margin-top: 1rem;

      .post-text-content {
        text-align: justify;
        width: 80vw;
      }
      
      .post-credits-container {
        margin: 0;

        & p:nth-child(1) {
          font-size: 1.25rem;
          margin-bottom: 1rem;
        }

        & ul {
          flex-direction: row;
          justify-content: center;
          gap: 0.85rem;
        }
      }
    }

  }
}