<div *ngIf="getPostDataByTitle(postTitle); let post">
  <div class="post-color" [style.background-color]="post.color"></div>
  <div class="main-post-container">
    <h1>{{ post.title }}</h1>
    <img src="{{ post.img }}" alt="{{ post.title }}" />
    <a routerLink="/">< Back to posts</a>
    <div class="post-content">
      <div class="post-text-content">
        <h2>
          Suspendisse sit amet auctor nibh. Sed non mi lacinia, semper urna sed,
          posuere lorem. Proin tempor egestas mauris a lobortis. Donec dignissim
          justo ac mattis pulvinar. Etiam sodales dignissim lacinia. Sed non
          vehicula quam, non finibus velit. Aenean ac convallis est.
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae
          tellus ut ligula dapibus lobortis. Phasellus dapibus ipsum ut lacus
          ultrices facilisis. Cras eleifend pharetra aliquet. Integer tristique
          tincidunt congue. Vivamus lobortis nunc mi, ac condimentum sem
          elementum et. Donec mattis lacus at risus fermentum lobortis. Etiam
          placerat congue lacus. Duis a ipsum et enim viverra tincidunt a sed
          nisl. Quisque dapibus consectetur ex et euismod.
        </p>
        <p>
          Aenean euismod massa nulla, consectetur finibus libero porttitor et.
          Aliquam consectetur, diam quis suscipit viverra, tortor quam finibus
          libero, sit amet ullamcorper nunc ipsum eget nibh. Nulla dignissim
          augue nunc, quis imperdiet lacus sodales vitae. Quisque hendrerit
          tellus sit amet justo placerat feugiat. Proin id tortor turpis. Sed id
          libero urna. Quisque aliquam ornare odio, ac fermentum quam vehicula
          ut. Duis auctor ullamcorper enim, ut faucibus nibh euismod et. Aenean
          feugiat suscipit tortor quis eleifend. Vivamus rhoncus suscipit nulla
          eu malesuada. Suspendisse blandit lobortis diam ut iaculis. Mauris
          tincidunt, ipsum at condimentum ornare, metus lacus commodo odio, eu
          fermentum nisi ex eget eros.
        </p>
      </div>
      <div class="post-credits-container">
        <p>News</p>
        <p>{{ post.date }}</p>
        <p>
          Published in
          <a href="https://blog.angular.io/" target="_blank">Angular Blog</a>
        </p>
        <ul>
          <li><a href="https://developers.facebook.com/docs/javascript/howto/angularjs/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Facebook_icon_%28black%29.svg/1200px-Facebook_icon_%28black%29.svg.png" alt="Facebook Logo"></a></li>
          <li><a href="https://x.com/angular" target="_blank"><img src="https://about.twitter.com/content/dam/about-twitter/x/brand-toolkit/logo-black.png.twimg.1920.png" alt="X Logo"></a></li>
          <li><a href="https://www.instagram.com" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/717/717392.png" alt="Instagram Logo"></a></li>
          <li><a href="" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/542/542638.png" alt="Email Logo"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
