<div *ngIf="getPostDataByTitle(postTitle); let post">
  <div class="post-color" [style.background-color]="post.color"></div>
  <div class="main-post-container">
    <h1>{{ post.title }}</h1>
    <img src="{{ post.img }}" alt="{{ post.title }}" />
    <a routerLink="/"><span [style.color]="post.color">< </span>Back to posts</a>
    <div class="post-content">
      <div class="post-text-content">
        <ng-container *ngFor="let item of post.content">
          <div *ngIf="item.type === 'heading'; then heading else paragraph"></div>
          <ng-template #heading>
            <h2>{{ item.text }}</h2>
          </ng-template>
          <ng-template #paragraph>
            <p class={{item.format}}>{{ item.text }}</p>
          </ng-template>
          <div *ngIf="item.type === 'image'; then image"></div>
          <ng-template #image>
            <img [src]="item.img" alt="Image" />
          </ng-template>
        </ng-container>
      </div>
      <div class="post-credits-container">
        <p [style.color]="post.color">News</p>
        <p>{{ post.date }}</p>
        <p>
          Published in
          <a href="https://blog.angular.io/" target="_blank">Angular Blog</a>
        </p>
        <ul>
          <li><a href="https://developers.facebook.com/docs/javascript/howto/angularjs/" target="_blank"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Facebook_icon_%28black%29.svg/1200px-Facebook_icon_%28black%29.svg.png" alt="Facebook Logo"></a></li>
          <li><a href="https://x.com/angular" target="_blank"><img src="https://about.twitter.com/content/dam/about-twitter/x/brand-toolkit/logo-black.png.twimg.1920.png" alt="X Logo"></a></li>
          <li><a href="https://www.instagram.com" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/717/717392.png" alt="Instagram Logo"></a></li>
          <li><a href="" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/542/542638.png" alt="Email Logo"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
