<header>
  <div class="brand-logo-container">
    <img src="../../../assets/angular-bl-icon.png" alt="Angular Icon">
    <h2>AngularBlog</h2>
  </div>
  <div class="info-container">
    <a href="https://github.com/gabrielmoisesa">
      <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub Icon" class="github-icon">
    </a>
    <button>Contact us</button>
    <div class="vertical-line"></div>
    <div class="nav-icon">
      <span></span>
      <span></span>
    </div>
  </div>
</header>
