.post-card-container {
  display: flex;
  align-items: center;
  width: 45rem;

  & img {
    width: 30vh;
    height: 22vh; 
    border: 1px solid var(--light-gray);
    object-fit: cover;
    
    &:hover {
      box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.1);
    }
  }

  .card-info {
    margin-left: 1rem;

    & p {
      color: gray;
    }

    & h2 {
      font-weight: 500;
      max-width: 25rem;
    }
  }
}