.post-card-container {
  display: flex;
  width: 50rem;

  & img {
    width: 30vh;
    height: 20vh; 
    border: 1px solid black;
    object-fit: cover; 
  }

  .card-info {
    margin-left: 1rem;

    & p {
      color: gray;
    }

    & h2 {
      font-weight: 500;
    }
  }
}