@import 'node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+NKo+Unjoined&display=swap');

:root {
  --light-gray: #d9d9d9;
  --orange: #F16336;
}

* {
  font-family: 'Noto Sans NKo Unjoined', sans-serif;
}

button {
  background: none;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 1.1rem;
  padding: 0.5rem 0.75rem;
  transition: 0.3s;
}

button:hover {
  background: black;
  color: white;
}